<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    {% block rss %}{% endblock rss %}
</head>
<body>
    
    <div class="container">
        <header>
            {% block header %}{% endblock header %}
        </header>
        <div class="content">
            <main>
                {% block content %}{% endblock content %}
            </main>
            <nav>
                <p class="nav__title">Getting started</p>
                <p>
                    <a href="/getting-started/">Overview</a>
                    <a href="/getting-started/what-is-keyoxide">What is Keyoxide?</a>
                    <a href="/getting-started/what-is-ariadne-id">What is ariadne.id?</a>
                    <a href="/getting-started/encrypt">Encrypting a message</a>
                    <a href="/getting-started/verify">Verifying a signature</a>
                    <a href="/getting-started/identity-claims">Verifying identity claims</a>
                    <a href="/getting-started/signature-profiles">Signature profiles</a>
                </p>

                <p class="nav__title">Key management</p>
                <p>
                    <a href="/key-management/adding-claims">Adding claims</a>
                    <a href="/key-management/listing-claims">Listing claims</a>
                    <a href="/key-management/deleting-claims">Deleting claims</a>
                    <a href="/key-management/adding-avatar">Adding an avatar</a>
                </p>

                <p class="nav__title">Advanced</p>
                <p>
                    <a href="/advanced/openpgp-proofs">OpenPGP proofs</a>
                    <a href="/advanced/self-hosting-keyoxide">Self-hosting Keyoxide</a>
                    <a href="/advanced/web-key-directory">Web Key Directory</a>
                    <a href="/advanced/for-service-providers">For service providers</a>
                </p>

                <p class="nav__title">Keyoxide</p>
                <p>
                    <a href="/keyoxide/design">Design</a>
                    <a href="/keyoxide/contributing">Contributing</a>
                </p>

                <p class="nav__title">External links</p>
                <p>
                    <a href="https://keyoxide.org">Keyoxide.org</a>
                    <a href="https://blog.keyoxide.org">Keyoxide blog</a>
                    <a href="https://codeberg.org/keyoxide">Source code</a>
                    <a href="https://community.keyoxide.org">Community Forum</a>
                </p>
            </nav>
        </div>
        <footer>
            <p>
                Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
            </p>
        </footer>
    </div>

</body>
</html>