{% extends "base_default.html" %}

{% block title %}
    Docs — {{ section.title }}
{% endblock title %}

{% block header %}
    <h1>Keyoxide docs</h1>
{% endblock header %}

{% block content %}
    <h1>{{ section.title }}</h1>

    {{ section.content | safe }}
{% endblock content %}